.wrapper {
  background-image: url("../../assests/detailsBG.jpg");
  .img {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: beige;
    margin: 0.2rem auto;
  }
  .btn {
    background-color: transparent;
    border: none;
    color: blue;
    font-weight: 600;
  }
}
