* {
  font-family: "Literata", serif;
}

/* NAVBAR COMPONENT START */
.navbar {
  background-color: #774026;
}

.btns {
  padding: 0.3rem;
  border-radius: 1rem;
}
.btns:hover {
  transform: scale(0.99);
}
.btns a {
  color: brown;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
.btns a:hover {
  color: black;
}
/* NAVBAR COMPONENT END */

/*REGİSTER PAGE START */
.register-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assests/image.jpg") no-repeat center center fixed;
}
.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: rgba(58, 43, 42, 0.8);
  padding: 2rem;
  border-radius: 1rem;
}

.form-title,
label {
  color: white;
  font-size: 1.2rem;
}

/*REGİSTER PAGE END */

/* Login Page START */
.google-btn {
  padding: 0.3rem;
  background-color: lightblue;
  color: black;
}
.google-icon {
  margin: 0 0.2rem;
  font-size: 2rem;
}
/* Login Page END */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
