* {
  font-family: "Literata", serif;
}

/* NAVBAR COMPONENT START */
.navbar {
  background-color: #774026;
}

.btns {
  padding: 0.3rem;
  border-radius: 1rem;
}
.btns:hover {
  transform: scale(0.99);
}
.btns a {
  color: brown;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
.btns a:hover {
  color: black;
}
/* NAVBAR COMPONENT END */

/*REGİSTER PAGE START */
.parent {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
}
.register-form {
  background-color: #cc8667;
  color: #000000;
  padding: 5rem;
}
.form-image {
  width: 50vw;
  height: 100%;
}
.register-image {
  width: 100%;
  height: 820px;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.form-label {
  padding-left: 1.5rem;
  margin-bottom: 0px;
  font-size: 1.5rem;
}

.form-control {
  width: 90%;
  margin: 20px;
}

.btn {
  margin-left: 1.5rem;
  background-color: sandybrown !important ;
}
.btn:hover {
  transform: scale(0.99);
}
@media screen and (min-width: 1920px) {
  .register-image,
  .register-form {
    height: 100vh;
  }
  .register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
/*REGİSTER PAGE END */
